import {useEffect, useState} from "react";
import {useParams} from "react-router-dom";
import css from "./MoviesPage.module.css";

Ñonst MovieCast = () => {
    const {movieId} = useParams();
    const [cast, setCast] = useState;
}

