
.input {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid grey;
    margin: 20px;
    background-color: #f8f8f8;
    color: rgb(15, 14, 14);
    padding: 10px 5px;
    font-size: 20px;
  }

  .input:focus {
    border: 1px solid #516392;
  }

  .button {
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
    background-color: transparent;
    color: rgb(78, 42, 88);
    cursor: pointer;
    margin: 20px;
  }